*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

nbproject/


# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
switch/Switch.v12.suo
html-reader/HtmlReader.v12.suo
html-normalizer/HtmlNormalizer.v12.suo
html-normalizer/HtmlNormalizer/HtmlNormalizer.v12.suo
curl/Curl.v12.suo
curl/Curl.v12.suo
curl/Curl.v12.suo
html-normalizer/Visual Studio 2013
html-normalizer/packages/
html-reader/Visual Studio 2013/Visualizers/
direx/.vs/Dir.Ex/v14/.suo
direx/packages/
*/.vs/
packages/
.vs/


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app